#
# BEGIN bcfg2 group "ubuntu-16.04"
#

define hostgroup{
    hostgroup_name ubuntu-16.04
    alias ubuntu-16.04
}

define hostextinfo{
    hostgroup_name   ubuntu-16.04
    notes            Ubuntu 16.04 LTS
    icon_image       base/ubuntu.png
    icon_image_alt   Ubuntu
    vrml_image       ubuntu.png
    statusmap_image  base/ubuntu.gd2
}

#
# END bcfg2 group "ubuntu-16.04"
#
