#
# BEGIN bcfg2 group "ubuntu-12.04"
#

define hostgroup{
    hostgroup_name ubuntu-12.04
    alias ubuntu-12.04
}

define hostextinfo{
    hostgroup_name   ubuntu
    notes            Ubuntu 12.04 LTS
    icon_image       base/ubuntu.png
    icon_image_alt   Ubuntu
    vrml_image       ubuntu.png
    statusmap_image  base/ubuntu.gd2
}

#
# END bcfg2 group "ubuntu-12.04"
#
