# This file is managed by Bcfg2. Any local change will be lost.

command[check_apt-upgrade]=/usr/lib/nagios/plugins/check_apt-upgrade
command[check_apt_sources]=/usr/lib/nagios/plugins/check_apt_sources
command[check_dpkg]=/usr/lib/nagios/plugins/check_dpkg
command[check_needs-reboot]=/usr/lib/nagios/plugins/check_needs-reboot
